{% extends "base.html" %}

{% block title %}社團資訊{% endblock %}

{% block main %}
    <body>
        <h1>社團資訊</h1>
        <nav class="info-list">
            {% for club in clubs %}
                <nav class="info" style="border: 1px solid #ccc; padding: 15px; margin-bottom: 20px; border-radius: 8px;">
                    <p style="color: #0b5887;"><strong>{{ club.name }}</strong></p>
                    <p><strong>社團介紹：</strong>{{ club.description }}</p>
                    <p><strong>社長：</strong>{{ club.founder.username }}</p>
                    <p><strong>指導老師：</strong>{{ club.teacher.username }}</p>
                    <p><strong>排隊申請人數：</strong>{{ club.incoming_requests.count }}</p>
                    <p><strong>目前成員人數：</strong>{{ club.members.count }}</p>
                    <p><strong>社團滿員人數：</strong>{{ club.max_participants }}</p>
                    {% if club.incoming_requests.count >= club.max_participants %}
                        <p style="color: red; font-weight: bold;">⚠️ 高機率可能不會轉社成功！可以先去聯絡社長！</p>
                    {% endif %}

                    {% if club.members.count >= club.max_participants %}
                        <p style="color: red; font-weight: bold;">⚠️ 社團已滿員！
                            請先詢問社長是否有人準備轉出!</p>
                    {% endif %}
                </nav>
            {% endfor %}
        </nav>
        <button class="bot"><a href="{% url 'index' %}">返回首頁</a></button>
    </body>
{% endblock %}