{% extends "base.html" %}

{% block title %}大直高中 轉社系統{% endblock %}

{% block main %}
<div class="welcome-section" style="text-align: center;">
    <h2>大直轉社，值得信賴</h2>
    <p>既然敢轉社你應該也知道要拖很久吧 :P</p>
</div>

<nav class="applies" style="text-align: center;">
    
    <a href="{% url 'apply_transfer' %}" class="menu-box yellow-box">
        <div class="box-content">
            <span class="box-text">🙋 我要轉社!</span>
        </div>
    </a>
    
    <a href="{% url 'approve_list' %}" class="menu-box pink-box">
        <div class="box-content">
            <span class="box-text">🔍 查看轉社申請</span>
        </div>
    </a>

</nav>
{% endblock %}