<!DOCTYPE html>
<html lang="zn-hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class = "toolbar">
        
        </div>
        <div class="toolbar-logo">大直高中轉社系統</div>
        <div class="toolbar-menu">
            <a href="#" class="toolbar-item">首頁</a>
            <div class="toolbar-item">
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">登入</a>
            {% else %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                Hi! {{ user }}
                <input type="submit" value="登出">
            </form>
            {% endif %}
        </div>
    </nav>
    {% block main %}{% endblock %}
</body>
</html>